extends layout 

block content 
  main.container 
    h1.text-center= title 
    div.text-right
      a.back-button(href='/') Back to ⏎ 🏠
    form(method='POST', action='/add') 
      label(for='name') Title: 
      input(type='text', id='title', name='title', required) 
      label(for='description') Description: 
      input(type='text', id='description', name='description') 
      button(type='submit') Submit