extends layout 

block content 
  main.container 
    h1.text-center= title 
    div.text-right
      a.back-button(href='/') Back to ⏎ 🏠
    form(method='POST', action=`/edit/${task.id}`) 
      label(for='name') New title: 
      input(type='text', id='title', name='title', value=task.title, required) 
      label(for='description') New description: 
      input(type='text', id='description', name='description', value=task.description, required) 
      button(type='submit') Edit